# Gemini API Key
GEMINI_API_KEY=
OWNER_GEMINI_KEY=
GOOGLE_API_KEY=

# Midtrans API Keys
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
VITE_MIDTRANS_CLIENT_KEY=
VITE_MIDTRANS_IS_PRODUCTION=false

# Hostinger SMTP Credentials
HOSTINGER_SMTP_USER=
HOSTINGER_SMTP_PASS=
